@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap"); 

*{
    margin: 0;
    left: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

#section-homepage{
    width: 100%;
    min-height: 200vh;
    background-color: #000;
}
.section-navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    padding: 40px 100px;
    z-index: 100;
}
.section-navbar.sticky{
    padding: 5px 100px;
    background: #fff;
}
.section-navbar .logo{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
.section-navbar ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-navbar ul li{
    position: relative;
    list-style: none;
}
.section-navbar ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500px;
    transition: 0.6s;
}
#section-homepage .banner{
    position: relative;
    width: 100%;
    height: 200vh;
    background: url(images/oliver-pecker-HONJP8DyiSM-unsplash.jpg);
    background-size: cover;
}
.section-navbar.sticky .logo{
    color: #000;
}
.section-navbar.sticky ul li a{
    color: #000;
}